.git
.gitignore
.gitattributes
README.md
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
docker/
Vagrantfile
Homestead.yaml
Homestead.yaml.example
after.sh
aliases
.idea
.vscode
*.log 