
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap with custom font paths
$icon-font-path: "/fonts/bootstrap/";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.level {
    display: flex; align-items: center;
}
.flex {
    flex: 1;
}
[v-cloak] {
    display: none;
}
.name {
    font-weight: bold;
    font-size: 1.5em;
}
